In [1]:
import pandas as pd
import numpy as np

In [2]:
Ret = pd.read_csv("../RuralData/RetentionData_wFilters.csv") # Original dataset obtained from Perry

In [13]:
Ret

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000,1.0,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.000,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2017,4,0.750000,0.750000,0.750000,NaN,NaN,NaN,NaN
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2018,3,1.000000,0.666667,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,M,Not BIPOC,Not first gen,Pell,2. Other,2015,125,0.912000,0.872000,0.846774,0.464000,0.736,NaN,12.129032
188,M,Not BIPOC,Not first gen,Pell,2. Other,2016,107,0.887850,0.813084,0.830000,0.579439,NaN,NaN,11.123288
189,M,Not BIPOC,Not first gen,Pell,2. Other,2017,100,0.920000,0.860000,0.828283,NaN,NaN,NaN,9.000000
190,M,Not BIPOC,Not first gen,Pell,2. Other,2018,112,0.955357,0.883929,NaN,NaN,NaN,NaN,NaN
191,M,Not BIPOC,Not first gen,Pell,2. Other,2019,94,0.861702,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
2*2*2*2*2*6 # So the number of rows does match with all possible combinations of the filters where year = 2014 to 2019

192

In [84]:
count = 0
for i in range(len(Ret['Ret3rd'])):
    if Ret['Ret3rd'][i] == Ret['Ret3rd'][i]:
        count+=Ret['N'][i]
for i in range(len(Ret['Ret4th'])):
    if Ret['Ret4th'][i] == Ret['Ret4th'][i]:
        count+=Ret['N'][i]
print(18080+count)

44579

In [25]:
DF = Ret[(Ret.Group2 == "1. Rural/Small Rural")]
DF

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.0,1.0,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.0,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2017,4,0.750000,0.750000,0.750000,NaN,NaN,NaN,NaN
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2018,3,1.000000,0.666667,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2015,25,0.800000,0.680000,0.680000,0.440000,0.6,NaN,11.666667
182,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2016,14,0.857143,0.714286,0.714286,0.571429,NaN,NaN,11.222222
183,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2017,11,0.727273,0.636364,0.600000,NaN,NaN,NaN,8.000000
184,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2018,12,0.833333,0.833333,NaN,NaN,NaN,NaN,NaN
185,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2019,12,0.833333,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
sum(DF['Ret2nd'])/len(DF['Ret2nd'])

0.8594668723645831

This percentage is not the same as the average printed below obtained from the overall .csv file because the above one is grouped percentage, so the division is with 96 (because there are 96 possible rural groups from 2014-2019) and not 1242 which is the actual number of rural students whose Ret2nd data we have.

In [32]:
# Using the overall .csv file
Ret2 = pd.read_csv("../RuralData/RententionData_for_Anova.csv")
DF2 = Ret2[(Ret2.Rural_or_not == 1) & (Ret2.Fall_semester == "2nd")]
DF2
print(sum(DF2["Student_Percentage"])/len(DF2["Student_Percentage"]))

87.83333333333333

In [33]:
sum(np.array(DF['Ret2nd'])*np.array(DF['N']))/1242 * 100

87.84219001610309

This one now looks same as the rural 2nd sem average!

In [22]:
DF = Ret[(Ret.EYEAR == 2014)]
sum(DF['N'])

2759

In [4]:
Ret[191:192].to_dict() #['Ret2nd'][191] == Ret[191:192].to_dict()['Ret2nd'][191]

{'GENDER': {191: 'M'},
 'BIPOCFmt': {191: 'Not BIPOC'},
 'FGFmt': {191: 'Not first gen'},
 'PellFmt': {191: 'Pell'},
 'Group2': {191: '2. Other'},
 'EYEAR': {191: 2019},
 'N': {191: 94},
 'Ret2nd': {191: 0.861702128},
 'Ret3rd': {191: nan},
 'Ret4th': {191: nan},
 'GradIn4': {191: nan},
 'GradIn5': {191: nan},
 'GradIn6': {191: nan},
 'GradTerm': {191: nan}}

In [68]:
newDF = pd.DataFrame()
GENDER = []
BIPOCFmt = []
FGFmt = []
PellFmt = []
Group2 = []
EYEAR = []
N = []
RetentionPercent = []
FallSemester = []
for i in range(192):
    dictionary = Ret[i:i+1].to_dict()
    for j in ['Ret2nd', 'Ret3rd', 'Ret4th']:
        if dictionary[j][i] == dictionary[j][i]: # Not a nan value
            #for k in range(dictionary['N'][i]):
            GENDER.append(dictionary['GENDER'][i])
            BIPOCFmt.append(dictionary['BIPOCFmt'][i])
            FGFmt.append(dictionary['FGFmt'][i])
            PellFmt.append(dictionary['PellFmt'][i])
            Group2.append(dictionary['Group2'][i])
            EYEAR.append(dictionary['EYEAR'][i])
            N.append(dictionary['N'][i])
            FallSemester.append(j)
            RetentionPercent.append(dictionary[j][i]*100) #*dictionary['N'][i])
            
newDF['GENDER'] = GENDER
newDF['BIPOCFmt'] = BIPOCFmt
newDF['FGFmt'] = FGFmt
newDF['PellFmt'] = PellFmt
newDF['Group2'] = Group2
newDF['EYEAR'] = EYEAR
newDF['N'] = N
newDF['FallSemester'] = FallSemester
newDF['RetentionPercent'] = RetentionPercent

In [69]:
newDF
# Do the sanity check and only then proceed

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,FallSemester,RetentionPercent
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,Ret2nd,100.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,Ret3rd,100.000000
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,Ret4th,100.000000
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,Ret2nd,100.000000
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,Ret3rd,100.000000
...,...,...,...,...,...,...,...,...,...
475,M,Not BIPOC,Not first gen,Pell,2. Other,2017,100,Ret3rd,86.000000
476,M,Not BIPOC,Not first gen,Pell,2. Other,2017,100,Ret4th,82.828283
477,M,Not BIPOC,Not first gen,Pell,2. Other,2018,112,Ret2nd,95.535714
478,M,Not BIPOC,Not first gen,Pell,2. Other,2018,112,Ret3rd,88.392857
479,M,Not BIPOC,Not first gen,Pell,2. Other,2019,94,Ret2nd,86.170213

In [70]:
(2*2*2*2*2*3) + (2*2*2*2*2*3) + (2*2*2*2*2*3) + (2*2*2*2*2*3) + (2*2*2*2*2*2) + (2*2*2*2*2*1)

480

Sanity check matches the expected number of rows, which is 480.

In [71]:
newDF.to_csv("Retention_wFilters.csv", index = False)

In [63]:
newDF

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,FallSemester,RetentionPercent
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,Ret2nd,100.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,Ret3rd,100.000000
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,Ret4th,100.000000
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,Ret2nd,100.000000
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,Ret3rd,100.000000
...,...,...,...,...,...,...,...,...,...
475,M,Not BIPOC,Not first gen,Pell,2. Other,2017,100,Ret3rd,86.000000
476,M,Not BIPOC,Not first gen,Pell,2. Other,2017,100,Ret4th,82.828283
477,M,Not BIPOC,Not first gen,Pell,2. Other,2018,112,Ret2nd,95.535714
478,M,Not BIPOC,Not first gen,Pell,2. Other,2018,112,Ret3rd,88.392857
479,M,Not BIPOC,Not first gen,Pell,2. Other,2019,94,Ret2nd,86.170213

## Preparing Retention dataset for binomial regression

In [9]:
'''
I think a better dataset would have been to have different columns denoting the features of individual students, and 
then a last column denoting the semester you retained to. So classification problem using logistic regression?
Also, should we have excluded years 2018 and 2019 because we don't have their all 3 semesters retention rates?
'''

"\nI think a better dataset would have been to have different columns denoting the features of individual students, and \nthen a last column denoting the semester you retained to. So classification problem using logistic regression?\nAlso, should we have excluded years 2018 and 2019 because we don't have their all 3 semesters retention rates?\n"

In [4]:
Ret[191:192].to_dict()

{'GENDER': {191: 'M'},
 'BIPOCFmt': {191: 'Not BIPOC'},
 'FGFmt': {191: 'Not first gen'},
 'PellFmt': {191: 'Pell'},
 'Group2': {191: '2. Other'},
 'EYEAR': {191: 2019},
 'N': {191: 94},
 'Ret2nd': {191: 0.861702128},
 'Ret3rd': {191: nan},
 'Ret4th': {191: nan},
 'GradIn4': {191: nan},
 'GradIn5': {191: nan},
 'GradIn6': {191: nan},
 'GradTerm': {191: nan}}

In [5]:
newDF = pd.DataFrame()
GENDER = []
BIPOCFmt = []
FGFmt = []
PellFmt = []
Group2 = []
EYEAR = []
FallSemester = []
Retained_or_not = []

for i in range(192):
    dictionary = Ret[i:i+1].to_dict()
    for j in ['Ret2nd', 'Ret3rd', 'Ret4th']:
        if dictionary[j][i] == dictionary[j][i]: # Not a nan value
            Number_of_total_individuals = dictionary['N'][i]
            Retention_rate = dictionary[j][i]
            Number_of_retained_individuals = round(Retention_rate*Number_of_total_individuals)
            Number_of_notRetained_individuals = Number_of_total_individuals - Number_of_retained_individuals
            for k in range(Number_of_retained_individuals):
                GENDER.append(dictionary['GENDER'][i])
                BIPOCFmt.append(dictionary['BIPOCFmt'][i])
                FGFmt.append(dictionary['FGFmt'][i])
                PellFmt.append(dictionary['PellFmt'][i])
                Group2.append(dictionary['Group2'][i])
                EYEAR.append(dictionary['EYEAR'][i])
                FallSemester.append(j)
                Retained_or_not.append(1)
            for k in range(Number_of_notRetained_individuals):
                GENDER.append(dictionary['GENDER'][i])
                BIPOCFmt.append(dictionary['BIPOCFmt'][i])
                FGFmt.append(dictionary['FGFmt'][i])
                PellFmt.append(dictionary['PellFmt'][i])
                Group2.append(dictionary['Group2'][i])
                EYEAR.append(dictionary['EYEAR'][i])
                FallSemester.append(j)
                Retained_or_not.append(0)
            
print(len(GENDER), len(BIPOCFmt), len(FGFmt), len(PellFmt), len(Group2), len(EYEAR), len(FallSemester), len(Retained_or_not
           
newDF['Gender'] = GENDER
newDF['BIPOC_or_not'] = BIPOCFmt
newDF['FirstGen_or_not'] = FGFmt
newDF['PellGrant'] = PellFmt
newDF['Rural_or_not'] = Group2
newDF['EntryYear'] = EYEAR
newDF['Fall_Sem'] = FallSemester
newDF['Retained_or_not'] = RetentionPercent

44579 44579 44579 44579 44579 44579 44579 44579

In [6]:
newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,EntryYear,Fall_Sem,Retained_or_not
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,Ret2nd,1
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,Ret2nd,1
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,Ret2nd,1
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,Ret3rd,1
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,Ret3rd,1
...,...,...,...,...,...,...,...,...
44574,M,Not BIPOC,Not first gen,Pell,2. Other,2019,Ret2nd,0
44575,M,Not BIPOC,Not first gen,Pell,2. Other,2019,Ret2nd,0
44576,M,Not BIPOC,Not first gen,Pell,2. Other,2019,Ret2nd,0
44577,M,Not BIPOC,Not first gen,Pell,2. Other,2019,Ret2nd,0
44578,M,Not BIPOC,Not first gen,Pell,2. Other,2019,Ret2nd,0

In [10]:
newDF.replace("BIPOC", 1, inplace = True)
newDF.replace("Not BIPOC", 0, inplace = True)
newDF.replace("First gen", 1, inplace = True)
newDF.replace("Not first gen", 0, inplace = True)
newDF.replace("Pell", 1, inplace = True)
newDF.replace("Not Pell", 0, inplace = True)
newDF.replace("1. Rural/Small Rural", 1, inplace = True)
newDF.replace("2. Other", 0, inplace = True)
newDF.replace("Ret2nd", "2nd", inplace = True)
newDF.replace("Ret3rd", "3rd", inplace = True)
newDF.replace("Ret4th", "4th", inplace = True)

newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,EntryYear,Fall_Sem,Retained_or_not
0,F,1,1,0,1,2014,2nd,1
1,F,1,1,0,1,2014,2nd,1
2,F,1,1,0,1,2014,2nd,1
3,F,1,1,0,1,2014,3rd,1
4,F,1,1,0,1,2014,3rd,1
...,...,...,...,...,...,...,...,...
44574,M,0,0,1,0,2019,2nd,0
44575,M,0,0,1,0,2019,2nd,0
44576,M,0,0,1,0,2019,2nd,0
44577,M,0,0,1,0,2019,2nd,0
44578,M,0,0,1,0,2019,2nd,0

In [11]:
newDF.to_csv("RetentionData_Final.csv", index = False)

## Preparing graduation dataset for binomial regression

In [10]:
Ret[:20]
# These graaduation percentages are cumulative, meaning % of students in that group that have graduated by 
# this semester OR BEFORE. Given that the data is already limited to 2014-2016, and we have the max data for GradIn4
# column, let's only stick to GradIn4 for now.

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2017,4,0.750000,0.750000,0.750000,NaN,NaN,NaN,NaN
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2018,3,1.000000,0.666667,NaN,NaN,NaN,NaN,NaN
5,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2019,9,0.888889,NaN,NaN,NaN,NaN,NaN,NaN
6,F,BIPOC,First gen,Not Pell,2. Other,2014,58,0.775862,0.672414,0.655172,0.482759,0.586207,0.603448,11.888889
7,F,BIPOC,First gen,Not Pell,2. Other,2015,62,0.774194,0.709677,0.693548,0.387097,0.580645,NaN,12.000000
8,F,BIPOC,First gen,Not Pell,2. Other,2016,58,0.827586,0.775862,0.745455,0.551724,NaN,NaN,10.882353
9,F,BIPOC,First gen,Not Pell,2. Other,2017,58,0.758621,0.672414,0.684211,NaN,NaN,NaN,9.666667
10,F,BIPOC,First gen,Not Pell,2. Other,2018,55,0.854545,0.745455,NaN,NaN,NaN,NaN,NaN
11,F,BIPOC,First gen,Not Pell,2. Other,2019,93,0.806452,NaN,NaN,NaN,NaN,NaN,NaN
12,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2014,10,0.900000,0.900000,0.900000,0.500000,0.800000,0.900000,12.333333
13,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2015,7,0.857143,0.857143,0.833333,0.571429,0.714286,NaN,11.000000
14,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2016,1,0.000000,1.000000,1.000000,1.000000,NaN,NaN,12.000000
15,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2017,7,1.000000,1.000000,0.857143,NaN,NaN,NaN,NaN
16,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2018,2,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN
17,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2019,12,0.833333,NaN,NaN,NaN,NaN,NaN,NaN
18,F,BIPOC,First gen,Pell,2. Other,2014,105,0.904762,0.809524,0.757282,0.409524,0.580952,0.666667,12.492958
19,F,BIPOC,First gen,Pell,2. Other,2015,121,0.884298,0.826446,0.783333,0.487603,0.677686,NaN,12.058140

In [11]:
Ret[191:192].to_dict()

{'GENDER': {191: 'M'},
 'BIPOCFmt': {191: 'Not BIPOC'},
 'FGFmt': {191: 'Not first gen'},
 'PellFmt': {191: 'Pell'},
 'Group2': {191: '2. Other'},
 'EYEAR': {191: 2019},
 'N': {191: 94},
 'Ret2nd': {191: 0.861702128},
 'Ret3rd': {191: nan},
 'Ret4th': {191: nan},
 'GradIn4': {191: nan},
 'GradIn5': {191: nan},
 'GradIn6': {191: nan},
 'GradTerm': {191: nan}}

In [19]:
Grad_20142016 = Ret[(Ret.EYEAR == 2014) | (Ret.EYEAR == 2015) | (Ret.EYEAR == 2016) ]
Grad_20142016

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
6,F,BIPOC,First gen,Not Pell,2. Other,2014,58,0.775862,0.672414,0.655172,0.482759,0.586207,0.603448,11.888889
7,F,BIPOC,First gen,Not Pell,2. Other,2015,62,0.774194,0.709677,0.693548,0.387097,0.580645,NaN,12.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2015,25,0.800000,0.680000,0.680000,0.440000,0.600000,NaN,11.666667
182,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2016,14,0.857143,0.714286,0.714286,0.571429,NaN,NaN,11.222222
186,M,Not BIPOC,Not first gen,Pell,2. Other,2014,115,0.860870,0.843478,0.843478,0.417391,0.669565,0.747826,12.643678
187,M,Not BIPOC,Not first gen,Pell,2. Other,2015,125,0.912000,0.872000,0.846774,0.464000,0.736000,NaN,12.129032
188,M,Not BIPOC,Not first gen,Pell,2. Other,2016,107,0.887850,0.813084,0.830000,0.579439,NaN,NaN,11.123288

In [20]:
Grad_20142016.reset_index(inplace = True, drop=True)
Grad_20142016

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
3,F,BIPOC,First gen,Not Pell,2. Other,2014,58,0.775862,0.672414,0.655172,0.482759,0.586207,0.603448,11.888889
4,F,BIPOC,First gen,Not Pell,2. Other,2015,62,0.774194,0.709677,0.693548,0.387097,0.580645,NaN,12.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2015,25,0.800000,0.680000,0.680000,0.440000,0.600000,NaN,11.666667
92,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2016,14,0.857143,0.714286,0.714286,0.571429,NaN,NaN,11.222222
93,M,Not BIPOC,Not first gen,Pell,2. Other,2014,115,0.860870,0.843478,0.843478,0.417391,0.669565,0.747826,12.643678
94,M,Not BIPOC,Not first gen,Pell,2. Other,2015,125,0.912000,0.872000,0.846774,0.464000,0.736000,NaN,12.129032
95,M,Not BIPOC,Not first gen,Pell,2. Other,2016,107,0.887850,0.813084,0.830000,0.579439,NaN,NaN,11.123288

In [21]:
Grad_20142016[95:96].to_dict()

{'GENDER': {95: 'M'},
 'BIPOCFmt': {95: 'Not BIPOC'},
 'FGFmt': {95: 'Not first gen'},
 'PellFmt': {95: 'Pell'},
 'Group2': {95: '2. Other'},
 'EYEAR': {95: 2016},
 'N': {95: 107},
 'Ret2nd': {95: 0.887850467},
 'Ret3rd': {95: 0.813084112},
 'Ret4th': {95: 0.83},
 'GradIn4': {95: 0.579439252},
 'GradIn5': {95: nan},
 'GradIn6': {95: nan},
 'GradTerm': {95: 11.12328767}}

In [28]:
newDF = pd.DataFrame()
GENDER = []
BIPOCFmt = []
FGFmt = []
PellFmt = []
Group2 = []
EYEAR = []
GraduatedIn4_or_not = []

for i in range(96):
    dictionary = Grad_20142016[i:i+1].to_dict()
    #for j in ['GradIn4', 'GradIn4', 'GradIn4']:
    #if dictionary['GradIn4'][i] != dictionary['GradIn4'][i]: # Not a nan value
    Number_of_total_individuals = dictionary['N'][i]
    Grad_rate = dictionary['GradIn4'][i]
    Number_of_grad_individuals = round(Grad_rate*Number_of_total_individuals)
    Number_of_notgrad_individuals = Number_of_total_individuals - Number_of_grad_individuals
    for k in range(Number_of_grad_individuals):
        GENDER.append(dictionary['GENDER'][i])
        BIPOCFmt.append(dictionary['BIPOCFmt'][i])
        FGFmt.append(dictionary['FGFmt'][i])
        PellFmt.append(dictionary['PellFmt'][i])
        Group2.append(dictionary['Group2'][i])
        EYEAR.append(dictionary['EYEAR'][i])
        GraduatedIn4_or_not.append(1)
    for k in range(Number_of_notgrad_individuals):
        GENDER.append(dictionary['GENDER'][i])
        BIPOCFmt.append(dictionary['BIPOCFmt'][i])
        FGFmt.append(dictionary['FGFmt'][i])
        PellFmt.append(dictionary['PellFmt'][i])
        Group2.append(dictionary['Group2'][i])
        EYEAR.append(dictionary['EYEAR'][i])
        GraduatedIn4_or_not.append(0)
            
print(len(GENDER), len(BIPOCFmt), len(FGFmt), len(PellFmt), len(Group2), len(EYEAR), len(GraduatedIn4_or_not))
           
newDF['Gender'] = GENDER
newDF['BIPOC_or_not'] = BIPOCFmt
newDF['FirstGen_or_not'] = FGFmt
newDF['PellGrant'] = PellFmt
newDF['Rural_or_not'] = Group2
newDF['EntryYear'] = EYEAR
newDF['GraduatedIn4_or_not'] = GraduatedIn4_or_not

8736 8736 8736 8736 8736 8736 8736

In [25]:
# Instead of gradin4, gradin5 and gradin 6 are good future work.

In [29]:
newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,EntryYear,GraduatedIn4_or_not
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,1
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,1
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,1
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,1
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,1
...,...,...,...,...,...,...,...
8731,M,Not BIPOC,Not first gen,Pell,2. Other,2016,0
8732,M,Not BIPOC,Not first gen,Pell,2. Other,2016,0
8733,M,Not BIPOC,Not first gen,Pell,2. Other,2016,0
8734,M,Not BIPOC,Not first gen,Pell,2. Other,2016,0
8735,M,Not BIPOC,Not first gen,Pell,2. Other,2016,0

In [30]:
newDF.replace("BIPOC", 1, inplace = True)
newDF.replace("Not BIPOC", 0, inplace = True)
newDF.replace("First gen", 1, inplace = True)
newDF.replace("Not first gen", 0, inplace = True)
newDF.replace("Pell", 1, inplace = True)
newDF.replace("Not Pell", 0, inplace = True)
newDF.replace("1. Rural/Small Rural", 1, inplace = True)
newDF.replace("2. Other", 0, inplace = True)

newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,EntryYear,GraduatedIn4_or_not
0,F,1,1,0,1,2014,1
1,F,1,1,0,1,2014,1
2,F,1,1,0,1,2014,1
3,F,1,1,0,1,2015,1
4,F,1,1,0,1,2015,1
...,...,...,...,...,...,...,...
8731,M,0,0,1,0,2016,0
8732,M,0,0,1,0,2016,0
8733,M,0,0,1,0,2016,0
8734,M,0,0,1,0,2016,0
8735,M,0,0,1,0,2016,0

In [31]:
newDF.to_csv("GraduationData_Final.csv", index = False)

In [32]:
Grad2014 = newDF[newDF.EntryYear == 2014]
Grad2014

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,EntryYear,GraduatedIn4_or_not
0,F,1,1,0,1,2014,1
1,F,1,1,0,1,2014,1
2,F,1,1,0,1,2014,1
10,F,1,1,0,0,2014,1
11,F,1,1,0,0,2014,1
...,...,...,...,...,...,...,...
8499,M,0,0,1,0,2014,0
8500,M,0,0,1,0,2014,0
8501,M,0,0,1,0,2014,0
8502,M,0,0,1,0,2014,0
8503,M,0,0,1,0,2014,0

## Preparing graduation dataset for only those who retained

In [54]:
Grad_20142016 = Ret[(Ret.EYEAR == 2014) | (Ret.EYEAR == 2015) | (Ret.EYEAR == 2016) ]
Grad_20142016.reset_index(inplace = True, drop=True)
Grad_20142016

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
3,F,BIPOC,First gen,Not Pell,2. Other,2014,58,0.775862,0.672414,0.655172,0.482759,0.586207,0.603448,11.888889
4,F,BIPOC,First gen,Not Pell,2. Other,2015,62,0.774194,0.709677,0.693548,0.387097,0.580645,NaN,12.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2015,25,0.800000,0.680000,0.680000,0.440000,0.600000,NaN,11.666667
92,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2016,14,0.857143,0.714286,0.714286,0.571429,NaN,NaN,11.222222
93,M,Not BIPOC,Not first gen,Pell,2. Other,2014,115,0.860870,0.843478,0.843478,0.417391,0.669565,0.747826,12.643678
94,M,Not BIPOC,Not first gen,Pell,2. Other,2015,125,0.912000,0.872000,0.846774,0.464000,0.736000,NaN,12.129032
95,M,Not BIPOC,Not first gen,Pell,2. Other,2016,107,0.887850,0.813084,0.830000,0.579439,NaN,NaN,11.123288

In [56]:
newDF = pd.DataFrame()
GENDER = []
BIPOCFmt = []
FGFmt = []
PellFmt = []
Group2 = []
EYEAR = []
GraduatedIn4_or_not = []

for i in range(96):
    dictionary = Grad_20142016[i:i+1].to_dict()
    #for j in ['GradIn4', 'GradIn4', 'GradIn4']:
    #if dictionary['GradIn4'][i] != dictionary['GradIn4'][i]: # Not a nan value
    Number_of_total_individuals = dictionary['N'][i]
    Number_of_individuals_retained = round(dictionary['Ret4th'][i] * Number_of_total_individuals)
    Grad_rate = dictionary['GradIn4'][i]
    Number_of_grad_individuals = round(Grad_rate*Number_of_total_individuals)
    Number_of_notgrad_individuals = Number_of_individuals_retained - Number_of_grad_individuals
    for k in range(Number_of_grad_individuals):
        GENDER.append(dictionary['GENDER'][i])
        BIPOCFmt.append(dictionary['BIPOCFmt'][i])
        FGFmt.append(dictionary['FGFmt'][i])
        PellFmt.append(dictionary['PellFmt'][i])
        Group2.append(dictionary['Group2'][i])
        EYEAR.append(dictionary['EYEAR'][i])
        GraduatedIn4_or_not.append(1)
    for k in range(Number_of_notgrad_individuals):
        GENDER.append(dictionary['GENDER'][i])
        BIPOCFmt.append(dictionary['BIPOCFmt'][i])
        FGFmt.append(dictionary['FGFmt'][i])
        PellFmt.append(dictionary['PellFmt'][i])
        Group2.append(dictionary['Group2'][i])
        EYEAR.append(dictionary['EYEAR'][i])
        GraduatedIn4_or_not.append(0)
            
print(len(GENDER), len(BIPOCFmt), len(FGFmt), len(PellFmt), len(Group2), len(EYEAR), len(GraduatedIn4_or_not))
           
newDF['Gender'] = GENDER
newDF['BIPOC_or_not'] = BIPOCFmt
newDF['FirstGen_or_not'] = FGFmt
newDF['PellGrant'] = PellFmt
newDF['Rural_or_not'] = Group2
newDF['EntryYear'] = EYEAR
newDF['GraduatedIn4_or_not'] = GraduatedIn4_or_not

7111 7111 7111 7111 7111 7111 7111

In [57]:
newDF.replace("BIPOC", 1, inplace = True)
newDF.replace("Not BIPOC", 0, inplace = True)
newDF.replace("First gen", 1, inplace = True)
newDF.replace("Not first gen", 0, inplace = True)
newDF.replace("Pell", 1, inplace = True)
newDF.replace("Not Pell", 0, inplace = True)
newDF.replace("1. Rural/Small Rural", 1, inplace = True)
newDF.replace("2. Other", 0, inplace = True)

newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,EntryYear,GraduatedIn4_or_not
0,F,1,1,0,1,2014,1
1,F,1,1,0,1,2014,1
2,F,1,1,0,1,2014,1
3,F,1,1,0,1,2015,1
4,F,1,1,0,1,2015,1
...,...,...,...,...,...,...,...
7106,M,0,0,1,0,2016,0
7107,M,0,0,1,0,2016,0
7108,M,0,0,1,0,2016,0
7109,M,0,0,1,0,2016,0
7110,M,0,0,1,0,2016,0

In [58]:
newDF.to_csv("Graduation_after_Retention.csv", index = False)

## Preparing time to graduate dataset for linear regression

In [33]:
Ret

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000,1.0,11.000000
1,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2015,3,1.000000,1.000000,1.000000,1.000000,1.000,NaN,10.333333
2,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2016,4,1.000000,1.000000,1.000000,1.000000,NaN,NaN,11.000000
3,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2017,4,0.750000,0.750000,0.750000,NaN,NaN,NaN,NaN
4,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2018,3,1.000000,0.666667,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,M,Not BIPOC,Not first gen,Pell,2. Other,2015,125,0.912000,0.872000,0.846774,0.464000,0.736,NaN,12.129032
188,M,Not BIPOC,Not first gen,Pell,2. Other,2016,107,0.887850,0.813084,0.830000,0.579439,NaN,NaN,11.123288
189,M,Not BIPOC,Not first gen,Pell,2. Other,2017,100,0.920000,0.860000,0.828283,NaN,NaN,NaN,9.000000
190,M,Not BIPOC,Not first gen,Pell,2. Other,2018,112,0.955357,0.883929,NaN,NaN,NaN,NaN,NaN
191,M,Not BIPOC,Not first gen,Pell,2. Other,2019,94,0.861702,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
Ret2014 = Ret[Ret.EYEAR == 2014].reset_index(drop = True)
Ret2014

,GENDER,BIPOCFmt,FGFmt,PellFmt,Group2,EYEAR,N,Ret2nd,Ret3rd,Ret4th,GradIn4,GradIn5,GradIn6,GradTerm
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
1,F,BIPOC,First gen,Not Pell,2. Other,2014,58,0.775862,0.672414,0.655172,0.482759,0.586207,0.603448,11.888889
2,F,BIPOC,First gen,Pell,1. Rural/Small Rural,2014,10,0.900000,0.900000,0.900000,0.500000,0.800000,0.900000,12.333333
3,F,BIPOC,First gen,Pell,2. Other,2014,105,0.904762,0.809524,0.757282,0.409524,0.580952,0.666667,12.492958
4,F,BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,2014,6,1.000000,1.000000,1.000000,0.666667,0.833333,0.833333,11.400000
5,F,BIPOC,Not first gen,Not Pell,2. Other,2014,164,0.902439,0.853659,0.832298,0.573171,0.774390,0.786585,11.870229
6,F,BIPOC,Not first gen,Pell,1. Rural/Small Rural,2014,4,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000
7,F,BIPOC,Not first gen,Pell,2. Other,2014,84,0.928571,0.903614,0.903614,0.452381,0.761905,0.821429,12.600000
8,F,Not BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,12,0.916667,0.833333,0.916667,0.583333,0.833333,0.833333,12.200000
9,F,Not BIPOC,First gen,Not Pell,2. Other,2014,66,0.833333,0.772727,0.765625,0.606061,0.727273,0.772727,11.725490
10,F,Not BIPOC,First gen,Pell,1. Rural/Small Rural,2014,10,0.800000,0.800000,0.666667,0.600000,0.800000,0.800000,11.125000
11,F,Not BIPOC,First gen,Pell,2. Other,2014,43,0.930233,0.837209,0.790698,0.488372,0.744186,0.813953,12.400000
12,F,Not BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,2014,49,0.897959,0.918367,0.893617,0.714286,0.877551,0.897959,11.500000
13,F,Not BIPOC,Not first gen,Not Pell,2. Other,2014,559,0.928444,0.892473,0.873162,0.699463,0.846154,0.864043,11.540206
14,F,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2014,19,0.894737,0.736842,0.736842,0.684211,0.684211,0.736842,11.714286
15,F,Not BIPOC,Not first gen,Pell,2. Other,2014,109,0.889908,0.862385,0.839623,0.605505,0.761468,0.798165,11.689655
16,M,BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
17,M,BIPOC,First gen,Not Pell,2. Other,2014,50,0.820000,0.780000,0.720000,0.360000,0.520000,0.600000,12.500000
18,M,BIPOC,First gen,Pell,1. Rural/Small Rural,2014,6,0.833333,1.000000,1.000000,0.166667,0.666667,1.000000,14.166667
19,M,BIPOC,First gen,Pell,2. Other,2014,112,0.910714,0.812500,0.785714,0.383929,0.651786,0.696429,12.594937
20,M,BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,2014,5,0.800000,0.600000,0.400000,0.200000,0.400000,0.400000,12.500000
21,M,BIPOC,Not first gen,Not Pell,2. Other,2014,192,0.833333,0.765625,0.755208,0.395833,0.677083,0.718750,12.398551
22,M,BIPOC,Not first gen,Pell,1. Rural/Small Rural,2014,5,1.000000,0.600000,0.600000,0.200000,0.400000,0.400000,12.500000
23,M,BIPOC,Not first gen,Pell,2. Other,2014,84,0.845238,0.785714,0.795181,0.392857,0.630952,0.702381,12.593220
24,M,Not BIPOC,First gen,Not Pell,1. Rural/Small Rural,2014,8,0.500000,0.750000,0.750000,0.500000,0.625000,0.625000,11.800000
25,M,Not BIPOC,First gen,Not Pell,2. Other,2014,71,0.760563,0.718310,0.695652,0.394366,0.619718,0.661972,12.510204
26,M,Not BIPOC,First gen,Pell,1. Rural/Small Rural,2014,9,1.000000,0.750000,0.750000,0.444444,0.888889,0.888889,11.875000
27,M,Not BIPOC,First gen,Pell,2. Other,2014,37,0.864865,0.702703,0.594595,0.351351,0.540541,0.594595,12.409091
28,M,Not BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,2014,52,0.923077,0.807692,0.769231,0.480769,0.711538,0.730769,12.333333
29,M,Not BIPOC,Not first gen,Not Pell,2. Other,2014,691,0.900145,0.849493,0.840410,0.523878,0.756874,0.797395,12.142086
30,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,2014,20,0.950000,0.750000,0.736842,0.450000,0.650000,0.700000,12.000000
31,M,Not BIPOC,Not first gen,Pell,2. Other,2014,115,0.860870,0.843478,0.843478,0.417391,0.669565,0.747826,12.643678

In [35]:
# I think I should talk to Brian about the discrepancy in this dataset for having the average GradTerm and then ask 
# Perry for more fine-grained data on GradTerm, i.e., for all 58 students in 2nd row, give individual time to grad!

In [48]:
newDF = pd.DataFrame()
newDF['Gender'] = Ret2014.GENDER
newDF['BIPOC_or_not'] = Ret2014.BIPOCFmt
newDF['FirstGen_or_not'] = Ret2014.FGFmt
newDF['PellGrant'] = Ret2014.PellFmt
newDF['Rural_or_not'] = Ret2014.Group2
newDF['Avg_TermsToGrad'] = Ret2014.GradTerm

In [49]:
newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,Avg_TermsToGrad
0,F,BIPOC,First gen,Not Pell,1. Rural/Small Rural,11.000000
1,F,BIPOC,First gen,Not Pell,2. Other,11.888889
2,F,BIPOC,First gen,Pell,1. Rural/Small Rural,12.333333
3,F,BIPOC,First gen,Pell,2. Other,12.492958
4,F,BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,11.400000
5,F,BIPOC,Not first gen,Not Pell,2. Other,11.870229
6,F,BIPOC,Not first gen,Pell,1. Rural/Small Rural,11.000000
7,F,BIPOC,Not first gen,Pell,2. Other,12.600000
8,F,Not BIPOC,First gen,Not Pell,1. Rural/Small Rural,12.200000
9,F,Not BIPOC,First gen,Not Pell,2. Other,11.725490
10,F,Not BIPOC,First gen,Pell,1. Rural/Small Rural,11.125000
11,F,Not BIPOC,First gen,Pell,2. Other,12.400000
12,F,Not BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,11.500000
13,F,Not BIPOC,Not first gen,Not Pell,2. Other,11.540206
14,F,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,11.714286
15,F,Not BIPOC,Not first gen,Pell,2. Other,11.689655
16,M,BIPOC,First gen,Not Pell,1. Rural/Small Rural,NaN
17,M,BIPOC,First gen,Not Pell,2. Other,12.500000
18,M,BIPOC,First gen,Pell,1. Rural/Small Rural,14.166667
19,M,BIPOC,First gen,Pell,2. Other,12.594937
20,M,BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,12.500000
21,M,BIPOC,Not first gen,Not Pell,2. Other,12.398551
22,M,BIPOC,Not first gen,Pell,1. Rural/Small Rural,12.500000
23,M,BIPOC,Not first gen,Pell,2. Other,12.593220
24,M,Not BIPOC,First gen,Not Pell,1. Rural/Small Rural,11.800000
25,M,Not BIPOC,First gen,Not Pell,2. Other,12.510204
26,M,Not BIPOC,First gen,Pell,1. Rural/Small Rural,11.875000
27,M,Not BIPOC,First gen,Pell,2. Other,12.409091
28,M,Not BIPOC,Not first gen,Not Pell,1. Rural/Small Rural,12.333333
29,M,Not BIPOC,Not first gen,Not Pell,2. Other,12.142086
30,M,Not BIPOC,Not first gen,Pell,1. Rural/Small Rural,12.000000
31,M,Not BIPOC,Not first gen,Pell,2. Other,12.643678

In [50]:
newDF.replace("BIPOC", 1, inplace = True)
newDF.replace("Not BIPOC", 0, inplace = True)
newDF.replace("First gen", 1, inplace = True)
newDF.replace("Not first gen", 0, inplace = True)
newDF.replace("Pell", 1, inplace = True)
newDF.replace("Not Pell", 0, inplace = True)
newDF.replace("1. Rural/Small Rural", 1, inplace = True)
newDF.replace("2. Other", 0, inplace = True)

newDF

,Gender,BIPOC_or_not,FirstGen_or_not,PellGrant,Rural_or_not,Avg_TermsToGrad
0,F,1,1,0,1,11.000000
1,F,1,1,0,0,11.888889
2,F,1,1,1,1,12.333333
3,F,1,1,1,0,12.492958
4,F,1,0,0,1,11.400000
5,F,1,0,0,0,11.870229
6,F,1,0,1,1,11.000000
7,F,1,0,1,0,12.600000
8,F,0,1,0,1,12.200000
9,F,0,1,0,0,11.725490
10,F,0,1,1,1,11.125000
11,F,0,1,1,0,12.400000
12,F,0,0,0,1,11.500000
13,F,0,0,0,0,11.540206
14,F,0,0,1,1,11.714286
15,F,0,0,1,0,11.689655
16,M,1,1,0,1,NaN
17,M,1,1,0,0,12.500000
18,M,1,1,1,1,14.166667
19,M,1,1,1,0,12.594937
20,M,1,0,0,1,12.500000
21,M,1,0,0,0,12.398551
22,M,1,0,1,1,12.500000
23,M,1,0,1,0,12.593220
24,M,0,1,0,1,11.800000
25,M,0,1,0,0,12.510204
26,M,0,1,1,1,11.875000
27,M,0,1,1,0,12.409091
28,M,0,0,0,1,12.333333
29,M,0,0,0,0,12.142086
30,M,0,0,1,1,12.000000
31,M,0,0,1,0,12.643678

In [51]:
newDF.to_csv("AvgTermsToGrad_Final.csv", index = False)

## Preparing Financial dataset

In [298]:
Financial = pd.read_csv("../RuralData/FinancialAid2020_StudentLevel.csv")
Financial[:50]

,GENDER_CD,Group,Group2,BIPOCFmt,FGFmt,CCHE_FAFSA_CODE,Pell,AGI,FedGrants,FedStudentLoans,...,GotFedStudentLoans,GotFedWorkStudy,FedTotal,GotFedAny,GotPrivateSchol,GotStudentLoans,GotInstNBGrant,GotInstNonNeedGrant,GotAidAny,GotNBAid
0,M,3. Other,2. Other,Not BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
1,F,3. Other,2. Other,BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
2,M,3. Other,2. Other,Not BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
3,F,3. Other,2. Other,Not BIPOC,Not first gen,1.0,1.0,22499.0,1920.50,5500.0,...,1,0,7420.50,1,0,1,0,0,1,1
4,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,11753.0,NaN,12500.0,...,1,0,12500.00,1,0,1,0,1,1,1
5,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,47840.0,NaN,2979.0,...,1,0,2979.00,1,0,1,0,0,1,1
6,F,3. Other,2. Other,BIPOC,First gen,1.0,1.0,0.0,3172.50,6250.0,...,1,0,9422.50,1,0,1,0,0,1,1
7,M,3. Other,2. Other,BIPOC,First gen,1.0,0.0,14514.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
8,M,3. Other,2. Other,BIPOC,First gen,1.0,1.0,46932.0,5095.00,NaN,...,0,0,5095.00,1,0,0,1,0,1,1
9,M,2. Small Rural,1. Rural/Small Rural,BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
10,F,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,57586.0,NaN,NaN,...,0,0,NaN,0,0,1,0,0,1,0
11,F,3. Other,2. Other,Not BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
12,F,3. Other,2. Other,Not BIPOC,First gen,1.0,0.0,28064.0,NaN,12500.0,...,1,0,12500.00,1,0,1,1,0,1,1
13,F,3. Other,2. Other,BIPOC,Not first gen,1.0,1.0,18449.0,4095.00,NaN,...,0,0,4095.00,1,0,1,1,0,1,1
14,M,3. Other,2. Other,BIPOC,First gen,1.0,1.0,10962.0,2028.17,1500.0,...,1,1,4972.48,1,0,1,1,0,1,1
15,M,3. Other,2. Other,Not BIPOC,First gen,1.0,1.0,4466.0,2995.00,NaN,...,0,0,2995.00,1,0,0,1,0,1,1
16,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,1.0,15955.0,4195.50,12500.0,...,1,0,16695.50,1,0,1,1,0,1,1
17,M,3. Other,2. Other,Not BIPOC,First gen,1.0,0.0,8240.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
18,F,3. Other,2. Other,Not BIPOC,Not first gen,2.0,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,1,1,0
19,F,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,9196.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
20,F,3. Other,2. Other,Not BIPOC,Not first gen,1.0,1.0,300.0,6345.00,NaN,...,0,0,6345.00,1,0,0,1,1,1,1
21,F,3. Other,2. Other,BIPOC,First gen,1.0,0.0,9685.0,NaN,8000.0,...,1,0,8000.00,1,0,1,1,1,1,1
22,F,3. Other,2. Other,BIPOC,First gen,1.0,1.0,30348.0,6345.00,NaN,...,0,0,6345.00,1,0,0,1,1,1,1
23,M,2. Small Rural,1. Rural/Small Rural,Not BIPOC,Not first gen,1.0,0.0,45158.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
24,M,3. Other,2. Other,BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
25,F,3. Other,2. Other,Not BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
26,M,3. Other,2. Other,BIPOC,Not first gen,1.0,0.0,36647.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
27,F,3. Other,2. Other,Not BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
28,F,3. Other,2. Other,BIPOC,Not first gen,1.0,0.0,78187.0,NaN,12500.0,...,1,0,12500.00,1,0,1,0,0,1,1
29,M,3. Other,2. Other,BIPOC,First gen,1.0,1.0,14509.0,9345.00,7500.0,...,1,0,16845.00,1,0,1,1,0,1,1
30,F,1. Rural,1. Rural/Small Rural,BIPOC,First gen,1.0,0.0,110369.0,NaN,6500.0,...,1,0,6500.00,1,0,1,0,0,1,1
31,M,3. Other,2. Other,BIPOC,Not first gen,2.0,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,1,1,0
32,M,1. Rural,1. Rural/Small Rural,Not BIPOC,First gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
33,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,1.0,19229.0,3295.00,NaN,...,0,0,3295.00,1,0,0,1,1,1,1
34,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,0.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
35,M,3. Other,2. Other,BIPOC,First gen,2.0,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,1,0,0,1,0
36,F,3. Other,2. Other,Not BIPOC,First gen,1.0,1.0,9490.0,6345.00,5500.0,...,1,0,11845.00,1,0,1,0,0,1,1
37,M,3. Other,2. Other,Not BIPOC,Not first gen,2.0,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
38,F,3. Other,2. Other,Not BIPOC,Not first gen,1.0,1.0,0.0,6345.00,2750.0,...,1,0,9095.00,1,0,1,0,1,1,1
39,M,3. Other,2. Other,BIPOC,Not first gen,1.0,1.0,0.0,3963.27,12500.0,...,1,0,16463.27,1,0,1,1,0,1,1
40,M,3. Other,2. Other,BIPOC,Not first gen,1.0,0.0,39603.0,NaN,NaN,...,0,0,NaN,0,0,0,0,1,1,0
41,M,3. Other,2. Other,Not BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
42,F,3. Other,2. Other,BIPOC,First gen,1.0,1.0,5110.0,8345.00,11407.0,...,1,0,19752.00,1,0,1,1,0,1,1
43,M,3. Other,2. Other,BIPOC,Not first gen,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
44,F,3. Other,2. Other,BIPOC,Not first gen,2.0,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,0,1,1,0
45,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,35787.0,NaN,NaN,...,0,0,NaN,0,0,0,0,0,0,0
46,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,0.0,32250.0,NaN,NaN,...,0,0,NaN,0,0,0,1,0,1,1
47,F,3. Other,2. Other,Not BIPOC,First gen,1.0,0.0,11826.0,NaN,NaN,...,0,0,NaN,0,0,0,1,1,1,1
48,M,3. Other,2. Other,Not BIPOC,Not first gen,1.0,1.0,0.0,5552.00,12500.0,...,1,0,18052.00,1,0,1,1,0,1,1
49,M,3. Other,2. Other,BIPOC,Not first gen,1.0,1.0,7760.0,6345.00,2317.0,...,1,0,8662.00,1,0,1,1,1,1,1

In [299]:
Financial.columns

Index(['GENDER_CD', 'Group', 'Group2', 'BIPOCFmt', 'FGFmt', 'CCHE_FAFSA_CODE',
       'Pell', 'AGI', 'FedGrants', 'FedStudentLoans', 'FedWorkStudy',
       'InstNeedBasedGrants', 'InstNonNeedBasedGrants', 'PrivateSchol',
       'TotalStudentLoans', 'EFC', 'FAFSA', 'GotFedGrants',
       'GotFedStudentLoans', 'GotFedWorkStudy', 'FedTotal', 'GotFedAny',
       'GotPrivateSchol', 'GotStudentLoans', 'GotInstNBGrant',
       'GotInstNonNeedGrant', 'GotAidAny', 'GotNBAid'],
      dtype='object')

In [300]:
sum(Financial['FAFSA'])/len(Financial['FAFSA']) # Of those enrolled in Fall 2020, 66% applied for FAFSA. Did others
# not apply because they are rich? Or they were not not eligible for FAFSA?

0.6649407703773437

In [305]:
newDF = pd.DataFrame()
newDF['Gender'] = Financial['GENDER_CD']
newDF['Rural_or_not'] = Financial['Group2']
newDF['BIPOC_or_not'] = Financial['BIPOCFmt']
newDF['FirstGen_or_not'] = Financial['FGFmt']
newDF['FirstGen_or_not'] = Financial['FGFmt']
newDF['Completed_FAFSA'] = Financial['FAFSA']
newDF['Exp_FamilyContribution'] = Financial['EFC'] # Only for those who completed FAFSA
newDF['Adjusted_GrossIncome'] = Financial['AGI'] # Only for those who completed FAFSA
newDF['Got_FedGrants'] = Financial['GotFedGrants']
newDF['Got_NeedBasedAid'] = Financial['GotNBAid']
newDF['Got_Any_Aid'] = Financial['GotAidAny']

newDF.replace("BIPOC", 1, inplace = True)
newDF.replace("Not BIPOC", 0, inplace = True)
newDF.replace("First gen", 1, inplace = True)
newDF.replace("Not first gen", 0, inplace = True)
newDF.replace("1. Rural/Small Rural", 1, inplace = True)
newDF.replace("2. Other", 0, inplace = True)

newDF[:50]

,Gender,Rural_or_not,BIPOC_or_not,FirstGen_or_not,Completed_FAFSA,Exp_FamilyContribution,Adjusted_GrossIncome,Got_FedGrants,Got_NeedBasedAid,Got_Any_Aid
0,M,0,0,0,0,NaN,NaN,0,0,0
1,F,0,1,0,0,NaN,NaN,0,0,0
2,M,0,0,0,0,NaN,NaN,0,0,0
3,F,0,0,0,1,4185.0,22499.0,1,1,1
4,M,0,0,0,1,0.0,11753.0,0,1,1
5,M,0,0,0,1,14017.0,47840.0,0,1,1
6,F,0,1,1,1,0.0,0.0,1,1,1
7,M,0,1,1,1,1043.0,14514.0,0,0,0
8,M,0,1,1,1,1219.0,46932.0,1,1,1
9,M,1,1,0,0,NaN,NaN,0,0,0
10,F,0,0,0,1,18374.0,57586.0,0,0,1
11,F,0,0,0,0,NaN,NaN,0,0,0
12,F,0,0,1,1,6321.0,28064.0,0,1,1
13,F,0,1,0,1,2273.0,18449.0,1,1,1
14,M,0,1,1,1,0.0,10962.0,1,1,1
15,M,0,0,1,1,3392.0,4466.0,1,1,1
16,M,0,0,0,1,1523.0,15955.0,1,1,1
17,M,0,0,1,1,0.0,8240.0,0,0,0
18,F,0,0,0,0,0.0,NaN,0,0,1
19,F,0,0,0,1,0.0,9196.0,0,0,0
20,F,0,0,0,1,0.0,300.0,1,1,1
21,F,0,1,1,1,0.0,9685.0,0,1,1
22,F,0,1,1,1,0.0,30348.0,1,1,1
23,M,1,0,0,1,12654.0,45158.0,0,0,0
24,M,0,1,0,0,NaN,NaN,0,0,0
25,F,0,0,0,0,NaN,NaN,0,0,0
26,M,0,1,0,1,9677.0,36647.0,0,0,0
27,F,0,0,0,0,NaN,NaN,0,0,0
28,F,0,1,0,1,24383.0,78187.0,0,1,1
29,M,0,1,1,1,0.0,14509.0,1,1,1
30,F,1,1,1,1,21812.0,110369.0,0,1,1
31,M,0,1,0,0,0.0,NaN,0,0,1
32,M,1,0,1,0,NaN,NaN,0,0,0
33,M,0,0,0,1,3077.0,19229.0,1,1,1
34,M,0,0,0,1,0.0,0.0,0,0,0
35,M,0,1,1,0,0.0,NaN,0,0,1
36,F,0,0,1,1,0.0,9490.0,1,1,1
37,M,0,0,0,0,0.0,NaN,0,0,0
38,F,0,0,0,1,0.0,0.0,1,1,1
39,M,0,1,0,1,0.0,0.0,1,1,1
40,M,0,1,0,1,10810.0,39603.0,0,0,1
41,M,0,0,0,0,NaN,NaN,0,0,0
42,F,0,1,1,1,0.0,5110.0,1,1,1
43,M,0,1,0,0,NaN,NaN,0,0,0
44,F,0,1,0,0,0.0,NaN,0,0,1
45,M,0,0,0,1,9336.0,35787.0,0,0,0
46,M,0,0,0,1,7966.0,32250.0,0,1,1
47,F,0,0,1,1,8159.0,11826.0,0,1,1
48,M,0,0,0,1,0.0,0.0,1,1,1
49,M,0,1,0,1,0.0,7760.0,1,1,1

In [302]:
Rural = newDF[newDF.Rural_or_not == 1]
NonRural = newDF[newDF.Rural_or_not == 0]
Rural_appliedFAFSA = Rural[Rural.Completed_FAFSA == 1]
NonRural_appliedFAFSA = NonRural[NonRural.Completed_FAFSA == 1]
Rural.shape, Rural_appliedFAFSA.shape, NonRural.shape, NonRural_appliedFAFSA.shape

((873, 10), (602, 10), (11874, 10), (7874, 10))

In [303]:
'''
So 69% of rural students completed FAFSA, while 66% of non-rural students completed FAFSA. A test of proportions 
would reveal that the proportions are not statistically significant. But maybe not all non-rural students are 
elligible for FAFSA because international students are more likely to live in urban areas than rural areas. So when
we take into account only those non-rural students who were eligible, maybe this 66% would increase. If it increases
only a bit, maybe results would still be insignificant, but if it increases a lot, then it might be significantly 
higher than rural students, which would indicate that there is a lack of encouragement among the rural eligible
students to apply for FAFSA. Even right now (assuming all rural students are elligible), 69% is not high. I think
rural students should be educated more about the advantages of FAFSA, so that at least they apply in greater
proportions! So we definitely need the eligibility information for the Financial Data!

'''

'\nSo 69% of rural students completed FAFSA, while 66% of non-rural students completed FAFSA. A test of proportions \nwould reveal that the proportions are not statistically significant. But maybe not all non-rural students are \nelligible for FAFSA because international students are more likely to live in urban areas than rural areas. So when\nwe take into account only those non-rural students who were eligible, maybe this 66% would increase. If it increases\nonly a bit, maybe results would still be insignificant, but if it increases a lot, then it might be significantly \nhigher than rural students, which would indicate that there is a lack of encouragement among the rural eligible\nstudents to apply for FAFSA. Even right now (assuming all rural students are elligible), 69% is not high. I think\nrural students should be educated more about the advantages of FAFSA, so that at least they apply in greater\nproportions! So we definitely need the eligibility information for the Financial Data!\n\n'

In [309]:
# Checking if there is any student who got one of the 3 federal grants without filling out FAFSA

GotFedGrant = newDF['Got_FedGrants']
Completed_FAFSA = newDF['Completed_FAFSA']
for i in range(len(Completed_FAFSA)):
    if GotFedGrant[i] == 1 and Completed_FAFSA[i] == 0:
        print(i)
        
# Hmmmmm..... so it is possible that you Got Fed Grant even WITHOUT completing FAFSA.

8869
11713
12615

In [295]:
FAFSA = newDF[newDF.Completed_FAFSA == 1]
FAFSA

,Gender,Rural_or_not,BIPOC_or_not,FirstGen_or_not,Completed_FAFSA,Exp_FamilyContribution,Adjusted_GrossIncome,Got_FedGrants,Got_NeedBasedAid,Got_Any_Aid
3,F,0,0,0,1,4185.0,22499.0,1,1,1
4,M,0,0,0,1,0.0,11753.0,0,1,1
5,M,0,0,0,1,14017.0,47840.0,0,1,1
6,F,0,1,1,1,0.0,0.0,1,1,1
7,M,0,1,1,1,1043.0,14514.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
12742,M,0,0,0,1,0.0,0.0,0,0,1
12743,M,0,0,0,1,7677.0,31070.0,0,0,1
12744,M,0,0,1,1,2530.0,18252.0,1,1,1
12745,M,0,0,0,1,10844.0,39003.0,0,0,0
12746,M,0,1,0,1,0.0,0.0,0,1,1

In [296]:
FAFSA = FAFSA[FAFSA.Exp_FamilyContribution != 0] 
# Removing these because I am really not sure what 0 values in this col or for AGI mean.
FAFSA

,Gender,Rural_or_not,BIPOC_or_not,FirstGen_or_not,Completed_FAFSA,Exp_FamilyContribution,Adjusted_GrossIncome,Got_FedGrants,Got_NeedBasedAid,Got_Any_Aid
3,F,0,0,0,1,4185.0,22499.0,1,1,1
5,M,0,0,0,1,14017.0,47840.0,0,1,1
7,M,0,1,1,1,1043.0,14514.0,0,0,0
8,M,0,1,1,1,1219.0,46932.0,1,1,1
10,F,0,0,0,1,18374.0,57586.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
12739,M,1,0,1,1,1848.0,16558.0,1,1,1
12741,M,0,1,1,1,2341.0,17794.0,1,1,1
12743,M,0,0,0,1,7677.0,31070.0,0,0,1
12744,M,0,0,1,1,2530.0,18252.0,1,1,1
12745,M,0,0,0,1,10844.0,39003.0,0,0,0

In [297]:
FAFSA.to_csv("StudentLevel_FamilyIncome.csv", index=False)

In [304]:
# This is entire newDF, so not conditioned on FAFSA completed
newDF.to_csv("StudentLevel_AidsAndGrants.csv", index = False)

In [ ]:
# we should also look at the amounts of the grants ---> future work.

## NEW - Preparing retention dataset from "data" file

In [148]:
Data = pd.read_csv("../RuralData/Retention_StudentLevel.csv") 
Data

,EYEAR,GENDER,GRADTERM,ALLENR4,ALLENR7,ALLENR10,FirstGen,gradin4,gradin5,gradin6,BIPOC,PellEver,Group,Group2,Count,BIPOCFmt,FGFmt,PellFmt
0,2014,M,13.0,1,1.0,1.0,1,0.0,1.0,1.0,1,1,3. Other,2. Other,1,BIPOC,First gen,Pell
1,2014,M,12.0,1,1.0,1.0,0,1.0,1.0,1.0,0,0,1. Rural,1. Rural/Small Rural,1,Not BIPOC,Not first gen,Not Pell
2,2014,M,NaN,1,0.0,0.0,0,0.0,0.0,0.0,0,0,3. Other,2. Other,1,Not BIPOC,Not first gen,Not Pell
3,2014,M,11.0,1,1.0,1.0,0,1.0,1.0,1.0,0,1,3. Other,2. Other,1,Not BIPOC,Not first gen,Pell
4,2015,M,11.0,1,1.0,1.0,0,1.0,1.0,NaN,0,1,2. Small Rural,1. Rural/Small Rural,1,Not BIPOC,Not first gen,Pell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18075,2014,M,8.0,1,1.0,NaN,0,1.0,1.0,1.0,0,0,3. Other,2. Other,1,Not BIPOC,Not first gen,Not Pell
18076,2014,M,11.0,1,1.0,1.0,0,1.0,1.0,1.0,0,1,3. Other,2. Other,1,Not BIPOC,Not first gen,Pell
18077,2015,M,NaN,0,0.0,0.0,1,0.0,0.0,NaN,0,1,3. Other,2. Other,1,Not BIPOC,First gen,Pell
18078,2014,F,11.0,1,1.0,1.0,0,1.0,1.0,1.0,0,0,3. Other,2. Other,1,Not BIPOC,Not first gen,Not Pell
18079,2014,F,11.0,1,1.0,1.0,0,1.0,1.0,1.0,0,0,2. Small Rural,1. Rural/Small Rural,1,Not BIPOC,Not first gen,Not Pell

In [149]:
# I think we should stick to 2014 to 2017 only, because for 2018 and 2019 we do not have data for 3rd and 4th Fall.
# So it won't be nonsensical to interpret the odds of retention of 2019 students to their 4th Fall.
Data = Data[Data.EYEAR <= 2017]
Data.reset_index(drop = False, inplace = True)

In [150]:
newDF = pd.DataFrame()
newDF['Rural_Status'] = Data['Group2']
newDF['Gender'] = Data['GENDER']
newDF['BIPOC_Status'] = Data['BIPOC']
newDF['FirstGen_Status'] = Data['FirstGen']
newDF['Pell_Recepient'] = Data['PellEver']
newDF['EYEAR'] = Data['EYEAR']
newDF['TermsToGrad'] = Data['GRADTERM'] # We will analyse the time to grad only for those who retained and graduated within 6 years
newDF['Retained2ndFall'] = Data['ALLENR4']
newDF['Retained3rdFall'] = Data['ALLENR7']
newDF['Retained4thFall'] = Data['ALLENR10']
newDF['Gradin4'] = Data['gradin4']
newDF['Gradin5'] = Data['gradin5']
newDF['Gradin6'] = Data['gradin6']

# Now there are people who graduated in less than 4 years, so even if they started in 2014-2017, their retention to
# 4th fall is NA because they graduated already. I checked that all NA values in 3rd and 4th Fall map to this
# condition of way too early graduation. For these, I am going to replace NA with 1 because they did retain in some
# way, better to drop these people because anyway rural data is less. I think replacing NA by 1 still captures the 
# meaning.

newDF['Retained3rdFall'] = newDF['Retained3rdFall'].replace([np.nan],1)
newDF['Retained4thFall'] = newDF['Retained4thFall'].replace([np.nan],1)


newDF

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EYEAR,TermsToGrad,Retained2ndFall,Retained3rdFall,Retained4thFall,Gradin4,Gradin5,Gradin6
0,2. Other,M,1,1,1,2014,13.0,1,1.0,1.0,0.0,1.0,1.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1,1.0,1.0,1.0,1.0,1.0
2,2. Other,M,0,0,0,2014,NaN,1,0.0,0.0,0.0,0.0,0.0
3,2. Other,M,0,0,1,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1,1.0,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11747,2. Other,M,0,0,0,2014,8.0,1,1.0,1.0,1.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
11749,2. Other,M,0,1,1,2015,NaN,0,0.0,0.0,0.0,0.0,NaN
11750,2. Other,F,0,0,0,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1,1.0,1.0,1.0,1.0,1.0

In [151]:
newDF[11751:11752].to_dict()

{'Rural_Status': {11751: '1. Rural/Small Rural'},
 'Gender': {11751: 'F'},
 'BIPOC_Status': {11751: 0},
 'FirstGen_Status': {11751: 0},
 'Pell_Recepient': {11751: 0},
 'EYEAR': {11751: 2014},
 'TermsToGrad': {11751: 11.0},
 'Retained2ndFall': {11751: 1},
 'Retained3rdFall': {11751: 1.0},
 'Retained4thFall': {11751: 1.0},
 'Gradin4': {11751: 1.0},
 'Gradin5': {11751: 1.0},
 'Gradin6': {11751: 1.0}}

In [152]:
########################################
# Building StudentLevel Retention Data #
########################################

newDF2 = pd.DataFrame()
GENDER = []
BIPOCFmt = []
FGFmt = []
PellFmt = []
Group2 = []
EYEAR = []
TermsToGrad = []

FallSemester = []
Retained_or_not = []

for i in range(11752):
    dictionary = newDF[i:i+1].to_dict()
    for j in ['Retained2ndFall', 'Retained3rdFall', 'Retained4thFall']: # No nan values in this column
        GENDER.append(dictionary['Gender'][i])
        BIPOCFmt.append(dictionary['BIPOC_Status'][i])
        FGFmt.append(dictionary['FirstGen_Status'][i])
        PellFmt.append(dictionary['Pell_Recepient'][i])
        Group2.append(dictionary['Rural_Status'][i])
        TermsToGrad.append(dictionary['TermsToGrad'][i])
        EYEAR.append(dictionary['EYEAR'][i])
        FallSemester.append(j[-7:])
        Retained_or_not.append(dictionary[j][i])
            
print(len(GENDER), len(BIPOCFmt), len(FGFmt), len(PellFmt), len(Group2), len(EYEAR), len(FallSemester), len(Retained_or_not))
           
newDF2['Rural_Status'] = Group2
newDF2['Gender'] = GENDER
newDF2['BIPOC_Status'] = BIPOCFmt
newDF2['FirstGen_Status'] = FGFmt
newDF2['Pell_Recepient'] = PellFmt
# newDF2['TermsToGrad'] = TermsToGrad not needed for Retention analysis
newDF2['EntryYear'] = EYEAR
newDF2['Fall_Sem'] = FallSemester
newDF2['Retained_or_not'] = Retained_or_not

35256 35256 35256 35256 35256 35256 35256 35256

In [153]:
newDF2

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,Fall_Sem,Retained_or_not
0,2. Other,M,1,1,1,2014,2ndFall,1.0
1,2. Other,M,1,1,1,2014,3rdFall,1.0
2,2. Other,M,1,1,1,2014,4thFall,1.0
3,1. Rural/Small Rural,M,0,0,0,2014,2ndFall,1.0
4,1. Rural/Small Rural,M,0,0,0,2014,3rdFall,1.0
...,...,...,...,...,...,...,...,...
35251,2. Other,F,0,0,0,2014,3rdFall,1.0
35252,2. Other,F,0,0,0,2014,4thFall,1.0
35253,1. Rural/Small Rural,F,0,0,0,2014,2ndFall,1.0
35254,1. Rural/Small Rural,F,0,0,0,2014,3rdFall,1.0
35255,1. Rural/Small Rural,F,0,0,0,2014,4thFall,1.0

In [154]:
newDF2.replace("1. Rural/Small Rural", 1, inplace = True)
newDF2.replace("2. Other", 0, inplace = True)

newDF2

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,Fall_Sem,Retained_or_not
0,0,M,1,1,1,2014,2ndFall,1.0
1,0,M,1,1,1,2014,3rdFall,1.0
2,0,M,1,1,1,2014,4thFall,1.0
3,1,M,0,0,0,2014,2ndFall,1.0
4,1,M,0,0,0,2014,3rdFall,1.0
...,...,...,...,...,...,...,...,...
35251,0,F,0,0,0,2014,3rdFall,1.0
35252,0,F,0,0,0,2014,4thFall,1.0
35253,1,F,0,0,0,2014,2ndFall,1.0
35254,1,F,0,0,0,2014,3rdFall,1.0
35255,1,F,0,0,0,2014,4thFall,1.0

In [155]:
newDF2.to_csv("StudentLevel_RetentionData.csv", index = False)

In [162]:
############################################
# Building StudentLevel GraduationIn4 Data #
############################################

In [212]:
newDF

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EYEAR,TermsToGrad,Retained2ndFall,Retained3rdFall,Retained4thFall,Gradin4,Gradin5,Gradin6
0,2. Other,M,1,1,1,2014,13.0,1,1.0,1.0,0.0,1.0,1.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1,1.0,1.0,1.0,1.0,1.0
2,2. Other,M,0,0,0,2014,NaN,1,0.0,0.0,0.0,0.0,0.0
3,2. Other,M,0,0,1,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1,1.0,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11747,2. Other,M,0,0,0,2014,8.0,1,1.0,1.0,1.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
11749,2. Other,M,0,1,1,2015,NaN,0,0.0,0.0,0.0,0.0,NaN
11750,2. Other,F,0,0,0,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1,1.0,1.0,1.0,1.0,1.0

In [213]:
newDF2 = newDF[newDF.EYEAR <= 2016] # For GradIn4 data, we cannot go beyond 2016.
newDF2.rename(columns = {'Gradin4':'GraduatedIn4_or_not'}, inplace = True)
newDF2.rename(columns = {'EYEAR':'EntryYear'}, inplace = True)
newDF3 = newDF2.drop(['Retained2ndFall', 'Retained3rdFall', 'Gradin5', 'Gradin6'], axis = 1)
# We need to keep Retained4thFall because only those who retained till 4th Fall are eligible to graduate in 4 years.
# So we need to condition on this column
newDF3

/opt/anaconda3/envs/R-environment/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,TermsToGrad,Retained4thFall,GraduatedIn4_or_not
0,2. Other,M,1,1,1,2014,13.0,1.0,0.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1.0,1.0
2,2. Other,M,0,0,0,2014,NaN,0.0,0.0
3,2. Other,M,0,0,1,2014,11.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
11747,2. Other,M,0,0,0,2014,8.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1.0,1.0
11749,2. Other,M,0,1,1,2015,NaN,0.0,0.0
11750,2. Other,F,0,0,0,2014,11.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1.0,1.0

In [214]:
######################## THIS CONDITION IS IMPORTANT ############################

newDF3 = newDF3[newDF3.Retained4thFall == 1]
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,TermsToGrad,Retained4thFall,GraduatedIn4_or_not
0,2. Other,M,1,1,1,2014,13.0,1.0,0.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1.0,1.0
3,2. Other,M,0,0,1,2014,11.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1.0,1.0
5,2. Other,F,1,1,1,2014,11.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
10266,2. Other,F,1,1,1,2016,9.0,1.0,1.0
11747,2. Other,M,0,0,0,2014,8.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1.0,1.0
11750,2. Other,F,0,0,0,2014,11.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1.0,1.0

In [215]:
newDF3 = newDF3.drop(['TermsToGrad', 'Retained4thFall'], axis = 1)

In [216]:
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,GraduatedIn4_or_not
0,2. Other,M,1,1,1,2014,0.0
1,1. Rural/Small Rural,M,0,0,0,2014,1.0
3,2. Other,M,0,0,1,2014,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,1.0
5,2. Other,F,1,1,1,2014,1.0
...,...,...,...,...,...,...,...
10266,2. Other,F,1,1,1,2016,1.0
11747,2. Other,M,0,0,0,2014,1.0
11748,2. Other,M,0,0,1,2014,1.0
11750,2. Other,F,0,0,0,2014,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,1.0

In [217]:
newDF3.replace("1. Rural/Small Rural", 1, inplace = True)
newDF3.replace("2. Other", 0, inplace = True)

newDF3.to_csv("StudentLevel_GraduationData_GradIn4.csv", index = False)

In [218]:
############################################
# Building StudentLevel GraduationIn5 Data #
############################################

In [219]:
newDF2 = newDF[newDF.EYEAR <= 2015] # For GradIn5 data, we cannot go beyond 2015.
newDF2.rename(columns = {'Gradin5':'GraduatedIn5_or_not'}, inplace = True)
newDF2.rename(columns = {'EYEAR':'EntryYear'}, inplace = True)
newDF3 = newDF2.drop(['Retained2ndFall', 'Retained3rdFall', 'Gradin4', 'Gradin6'], axis = 1)
# We need to keep Retained4thFall because only those who retained till 4th Fall are eligible to graduate in 5 years.
# So we need to condition on this column
newDF3

/opt/anaconda3/envs/R-environment/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,TermsToGrad,Retained4thFall,GraduatedIn5_or_not
0,2. Other,M,1,1,1,2014,13.0,1.0,1.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1.0,1.0
2,2. Other,M,0,0,0,2014,NaN,0.0,0.0
3,2. Other,M,0,0,1,2014,11.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
11747,2. Other,M,0,0,0,2014,8.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1.0,1.0
11749,2. Other,M,0,1,1,2015,NaN,0.0,0.0
11750,2. Other,F,0,0,0,2014,11.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1.0,1.0

In [220]:
newDF3 = newDF3[newDF3.Retained4thFall == 1]
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,TermsToGrad,Retained4thFall,GraduatedIn5_or_not
0,2. Other,M,1,1,1,2014,13.0,1.0,1.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1.0,1.0
3,2. Other,M,0,0,1,2014,11.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1.0,1.0
5,2. Other,F,1,1,1,2014,11.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
7589,2. Other,M,0,0,0,2015,NaN,1.0,0.0
11747,2. Other,M,0,0,0,2014,8.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1.0,1.0
11750,2. Other,F,0,0,0,2014,11.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1.0,1.0

In [221]:
newDF3 = newDF3.drop(['TermsToGrad', 'Retained4thFall'], axis = 1)

In [222]:
newDF3.replace("1. Rural/Small Rural", 1, inplace = True)
newDF3.replace("2. Other", 0, inplace = True)

newDF3.to_csv("StudentLevel_GraduationData_GradIn5.csv", index = False) # Checked, no nan values in GradIn5 columns

In [223]:
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,GraduatedIn5_or_not
0,0,M,1,1,1,2014,1.0
1,1,M,0,0,0,2014,1.0
3,0,M,0,0,1,2014,1.0
4,1,M,0,0,1,2015,1.0
5,0,F,1,1,1,2014,1.0
...,...,...,...,...,...,...,...
7589,0,M,0,0,0,2015,0.0
11747,0,M,0,0,0,2014,1.0
11748,0,M,0,0,1,2014,1.0
11750,0,F,0,0,0,2014,1.0
11751,1,F,0,0,0,2014,1.0

In [224]:
#############################################
# Building StudentLevel TimeToGraduate Data #
#############################################

In [239]:
newDF

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EYEAR,TermsToGrad,Retained2ndFall,Retained3rdFall,Retained4thFall,Gradin4,Gradin5,Gradin6
0,2. Other,M,1,1,1,2014,13.0,1,1.0,1.0,0.0,1.0,1.0
1,1. Rural/Small Rural,M,0,0,0,2014,12.0,1,1.0,1.0,1.0,1.0,1.0
2,2. Other,M,0,0,0,2014,NaN,1,0.0,0.0,0.0,0.0,0.0
3,2. Other,M,0,0,1,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
4,1. Rural/Small Rural,M,0,0,1,2015,11.0,1,1.0,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11747,2. Other,M,0,0,0,2014,8.0,1,1.0,1.0,1.0,1.0,1.0
11748,2. Other,M,0,0,1,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
11749,2. Other,M,0,1,1,2015,NaN,0,0.0,0.0,0.0,0.0,NaN
11750,2. Other,F,0,0,0,2014,11.0,1,1.0,1.0,1.0,1.0,1.0
11751,1. Rural/Small Rural,F,0,0,0,2014,11.0,1,1.0,1.0,1.0,1.0,1.0

In [241]:
newDF2 = newDF[newDF.EYEAR <= 2014] # Some students have even taken 6 years to graduate, so we should only stick to 2014
newDF2 = newDF2.drop(['EYEAR'], axis = 1) # Because we know it is 2014

newDF3 = newDF2.drop(['Retained2ndFall', 'Retained3rdFall', 'Retained4thFall', 'Gradin4', 'Gradin5', 'Gradin6'], axis = 1)
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,TermsToGrad
0,2. Other,M,1,1,1,13.0
1,1. Rural/Small Rural,M,0,0,0,12.0
2,2. Other,M,0,0,0,NaN
3,2. Other,M,0,0,1,11.0
5,2. Other,F,1,1,1,11.0
...,...,...,...,...,...,...
11746,2. Other,M,0,1,0,NaN
11747,2. Other,M,0,0,0,8.0
11748,2. Other,M,0,0,1,11.0
11750,2. Other,F,0,0,0,11.0
11751,1. Rural/Small Rural,F,0,0,0,11.0

In [242]:
# Here, the question we want to ask is, among those who graduate, how much time did they take to graduate.
# So we need to drop students who did not graduate, meaning those with TermsToGrad == NaN
newDF3 = newDF3[newDF3.TermsToGrad == newDF3.TermsToGrad]
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,TermsToGrad
0,2. Other,M,1,1,1,13.0
1,1. Rural/Small Rural,M,0,0,0,12.0
3,2. Other,M,0,0,1,11.0
5,2. Other,F,1,1,1,11.0
9,2. Other,M,0,0,0,8.0
...,...,...,...,...,...,...
4273,2. Other,M,1,1,1,11.0
11747,2. Other,M,0,0,0,8.0
11748,2. Other,M,0,0,1,11.0
11750,2. Other,F,0,0,0,11.0
11751,1. Rural/Small Rural,F,0,0,0,11.0

In [243]:
newDF3.replace("1. Rural/Small Rural", 1, inplace = True)
newDF3.replace("2. Other", 0, inplace = True)

newDF3.to_csv("StudentLevel_TermsToGraduate2014.csv", index = False) # Checked, no nan values in GradIn5 columns

/opt/anaconda3/envs/R-environment/lib/python3.8/site-packages/pandas/core/frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [244]:
newDF3

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,TermsToGrad
0,0,M,1,1,1,13.0
1,1,M,0,0,0,12.0
3,0,M,0,0,1,11.0
5,0,F,1,1,1,11.0
9,0,M,0,0,0,8.0
...,...,...,...,...,...,...
4273,0,M,1,1,1,11.0
11747,0,M,0,0,0,8.0
11748,0,M,0,0,1,11.0
11750,0,F,0,0,0,11.0
11751,1,F,0,0,0,11.0

In [372]:
Student = pd.read_csv("StudentLevelData_Fall2020.csv")
Student

,PERSON_ID,CUM_GPA_PTS,CUR_GPA_PTS,LAST_NM,MIDDLE_NM,FIRST_NM,CITZ_CNTRY_FGN_CD,CITZ_CNTRY_FGN_LD,SCDClass,HOME_ADDRESS1,...,CurrentBIPOCFmt,EntryBIPOCFmt,FGFmt,EverResHall,MeetsMAPSFLAtEntry,PreColl,PreCollBouldSummer,PreCollWestSlope,PreCollRural,AnyRural
0,100011145,2.044,2.750,DuPont,William,Gabriel,-,-,SR,1228 Mallard Ct,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
1,100104535,3.908,4.000,Hattler,Elizabeth,Erin,-,-,SR5,2161 S Dallas St,...,BIPOC,BIPOC,Not first gen,0,1,0,0,0,0,0
2,100380472,3.958,3.885,Fowler,Tyus,Nevin,-,-,SR,1315 violet ave,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
3,100594561,3.829,4.000,Feller,Marie,Anne,-,-,SR5,2765 28th St Apt 323,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
4,100608256,3.934,4.000,Dougherty,Patrick,Logan,-,-,SR5,9817 Spring Hill Ln,...,Not BIPOC,Not BIPOC,Not first gen,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12083,830280906,3.196,3.677,Jackson,Taylor,Brandon,-,-,SR,4353 W 118th pl,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
12084,830370533,2.866,3.425,Sullivan,-,Joseph,-,-,SR,1815 Antero Dr,...,Not BIPOC,Not BIPOC,Not first gen,1,1,0,0,0,0,1
12085,830381862,3.078,3.515,Gonzalez,Jesus,Marvin,-,-,SR5,15530 Pensacola Pl,...,BIPOC,BIPOC,First gen,0,1,0,0,0,0,0
12086,995259626,3.392,3.824,Welton-Kubeczko,James,Jacob,-,-,SR5,23694 E Eads Dr,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
12087,995271595,2.491,2.593,Hudson,James,Nicholas,-,-,JR,1995 E Coalton Rd #68-301,...,Not BIPOC,Not BIPOC,First gen,0,1,0,0,0,0,0

In [373]:
Student = Student[Student.CUR_GPA_PTS != 0]
Student = Student.dropna()
Student

Empty DataFrame
Columns: [PERSON_ID, CUM_GPA_PTS, CUR_GPA_PTS, LAST_NM, MIDDLE_NM, FIRST_NM, CITZ_CNTRY_FGN_CD, CITZ_CNTRY_FGN_LD, SCDClass, HOME_ADDRESS1, HOME_ADDRESS2, HOME_ADDRESS3, HOME_ADDRESS4, HOME_CITY_NM, HOME_STATE_CD, HOME_POSTAL_CD, HOME_CNTRY_CD, HOME_COUNTRY_LD, MAIL_ADDRESS1, MAIL_ADDRESS2, MAIL_ADDRESS3, MAIL_ADDRESS4, MAIL_CITY, MAIL_STATE, MAIL_POSTAL_CD, MAIL_COUNTRY_CD, PASSD_PRGRS_UNIT, TOT_CUMULATIVE, Net_Trnsfr, CurrentCollege, CurrentMajor, CurrentEthnic, CurrentBIPOC, ADMIT_TERM_CD, GENDER_CD, ACT_MATH_HC, ACT_SCIRE_HC, ACT_READ_HC, ACT_ENGL_HC, SAT_VERB_HC, SAT_MATH_HC, SAT_TOTAL_HC, HS_EXT_ORG_LD, HS_CLASS_SIZE, HS_COUNTRY, HS_STATE, HS_ACT_CD, HS_CITY, COLL_LS_SCHOOL_TYPE, CC_HSGPA, CC_TGPA, SAT2016_REWR_HC, SAT2016_MATH_HC, SAT2016_TOTAL_HC, FirstGen, EntryCollege, EntryMajor, EntryType, EntryEthnic, EntryBIPOC, HSCounty, ACOSchool, act_comp_hc, HSName, Address, State, Zip, CDECodeText, SchoolType, DistrictCodeText, DistrictName, SmallRural, Rural, Group, Group2, BLD_EMAIL, PREF_PHONE, APHours, IBHours, Name_Pref, last_name_pref, first_name_pref, middle_name_pref, ROTC, BakerRAP, EngHonRAP, LeedsRAP, CommRAP, FarrRAP, GlobalEngRAP, GlobalStudRAP, HealthProfRAP, HonorsRAP, LibbyRAP, LibbyRAPa, SustainRAP, SustainDesignRAP, Boettcher, Norlin, ChancLeadRAP, ...]
Index: []

[0 rows x 148 columns]

In [369]:
Student2.to_csv("StudentLevelData_Fall2020_2.csv", index = False)

In [371]:
list(Student.MeetsMAPSFLAtEntry)

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

## Class imbalance table

In [312]:
Retention = pd.read_csv("StudentLevel_RetentionData.csv")
Retention

,Rural_Status,Gender,BIPOC_Status,FirstGen_Status,Pell_Recepient,EntryYear,Fall_Sem,Retained_or_not
0,0,M,1,1,1,2014,2ndFall,1.0
1,0,M,1,1,1,2014,3rdFall,1.0
2,0,M,1,1,1,2014,4thFall,1.0
3,1,M,0,0,0,2014,2ndFall,1.0
4,1,M,0,0,0,2014,3rdFall,1.0
...,...,...,...,...,...,...,...,...
35251,0,F,0,0,0,2014,3rdFall,1.0
35252,0,F,0,0,0,2014,4thFall,1.0
35253,1,F,0,0,0,2014,2ndFall,1.0
35254,1,F,0,0,0,2014,3rdFall,1.0
35255,1,F,0,0,0,2014,4thFall,1.0

In [345]:
 40 +41 +31 +62

174

In [346]:
 849 +876 +1001 +992

3718

In [347]:
DF = pd.read_csv("../RuralData/StudentLevelData_Fall2020.csv")
DF

,PERSON_ID,CUM_GPA_PTS,CUR_GPA_PTS,LAST_NM,MIDDLE_NM,FIRST_NM,CITZ_CNTRY_FGN_CD,CITZ_CNTRY_FGN_LD,SCDClass,HOME_ADDRESS1,...,CurrentBIPOCFmt,EntryBIPOCFmt,FGFmt,EverResHall,MeetsMAPSFLAtEntry,PreColl,PreCollBouldSummer,PreCollWestSlope,PreCollRural,AnyRural
0,100011145,2.044,2.750,DuPont,William,Gabriel,-,-,SR,1228 Mallard Ct,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
1,100104535,3.908,4.000,Hattler,Elizabeth,Erin,-,-,SR5,2161 S Dallas St,...,BIPOC,BIPOC,Not first gen,0,1,0,0,0,0,0
2,100380472,3.958,3.885,Fowler,Tyus,Nevin,-,-,SR,1315 violet ave,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
3,100594561,3.829,4.000,Feller,Marie,Anne,-,-,SR5,2765 28th St Apt 323,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
4,100608256,3.934,4.000,Dougherty,Patrick,Logan,-,-,SR5,9817 Spring Hill Ln,...,Not BIPOC,Not BIPOC,Not first gen,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12083,830280906,3.196,3.677,Jackson,Taylor,Brandon,-,-,SR,4353 W 118th pl,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
12084,830370533,2.866,3.425,Sullivan,-,Joseph,-,-,SR,1815 Antero Dr,...,Not BIPOC,Not BIPOC,Not first gen,1,1,0,0,0,0,1
12085,830381862,3.078,3.515,Gonzalez,Jesus,Marvin,-,-,SR5,15530 Pensacola Pl,...,BIPOC,BIPOC,First gen,0,1,0,0,0,0,0
12086,995259626,3.392,3.824,Welton-Kubeczko,James,Jacob,-,-,SR5,23694 E Eads Dr,...,Not BIPOC,Not BIPOC,Not first gen,0,1,0,0,0,0,0
12087,995271595,2.491,2.593,Hudson,James,Nicholas,-,-,JR,1995 E Coalton Rd #68-301,...,Not BIPOC,Not BIPOC,First gen,0,1,0,0,0,0,0

In [350]:
list(DF.columns)

['PERSON_ID',
 'CUM_GPA_PTS',
 'CUR_GPA_PTS',
 'LAST_NM',
 'MIDDLE_NM',
 'FIRST_NM',
 'CITZ_CNTRY_FGN_CD',
 'CITZ_CNTRY_FGN_LD',
 'SCDClass',
 'HOME_ADDRESS1',
 'HOME_ADDRESS2',
 'HOME_ADDRESS3',
 'HOME_ADDRESS4',
 'HOME_CITY_NM',
 'HOME_STATE_CD',
 'HOME_POSTAL_CD',
 'HOME_CNTRY_CD',
 'HOME_COUNTRY_LD',
 'MAIL_ADDRESS1',
 'MAIL_ADDRESS2',
 'MAIL_ADDRESS3',
 'MAIL_ADDRESS4',
 'MAIL_CITY',
 'MAIL_STATE',
 'MAIL_POSTAL_CD',
 'MAIL_COUNTRY_CD',
 'PASSD_PRGRS_UNIT',
 'TOT_CUMULATIVE',
 'Net_Trnsfr',
 'CurrentCollege',
 'CurrentMajor',
 'CurrentEthnic',
 'CurrentBIPOC',
 'ADMIT_TERM_CD',
 'GENDER_CD',
 'ACT_MATH_HC',
 'ACT_SCIRE_HC',
 'ACT_READ_HC',
 'ACT_ENGL_HC',
 'SAT_VERB_HC',
 'SAT_MATH_HC',
 'SAT_TOTAL_HC',
 'HS_EXT_ORG_LD',
 'HS_CLASS_SIZE',
 'HS_COUNTRY',
 'HS_STATE',
 'HS_ACT_CD',
 'HS_CITY',
 'COLL_LS_SCHOOL_TYPE',
 'CC_HSGPA',
 'CC_TGPA',
 'SAT2016_REWR_HC',
 'SAT2016_MATH_HC',
 'SAT2016_TOTAL_HC',
 'FirstGen',
 'EntryCollege',
 'EntryMajor',
 'EntryType',
 'EntryEthnic',
 'EntryBIPOC',
 'HSCounty',
 'ACOSchool',
 'act_comp_hc',
 'HSName',
 'Address',
 'State',
 'Zip',
 'CDECodeText',
 'SchoolType',
 'DistrictCodeText',
 'DistrictName',
 'SmallRural',
 'Rural',
 'Group',
 'Group2',
 'BLD_EMAIL',
 'PREF_PHONE',
 'APHours',
 'IBHours',
 'Name_Pref',
 'last_name_pref',
 'first_name_pref',
 'middle_name_pref',
 'ROTC',
 'BakerRAP',
 'EngHonRAP',
 'LeedsRAP',
 'CommRAP',
 'FarrRAP',
 'GlobalEngRAP',
 'GlobalStudRAP',
 'HealthProfRAP',
 'HonorsRAP',
 'LibbyRAP',
 'LibbyRAPa',
 'SustainRAP',
 'SustainDesignRAP',
 'Boettcher',
 'Norlin',
 'ChancLeadRAP',
 'ChancLeadership',
 'BOLD',
 'BOLD2',
 'SewallRAP',
 'HalletRAP',
 'LivingLearningRAP',
 'INVST',
 'PLC',
 'RschCrse',
 'HonCrse',
 'HonCrse2',
 'HonorsCourse',
 'IndStudy',
 'Internships',
 'DivStuAcadComm',
 'DivHon',
 'DivENVD',
 'DivAS',
 'DivMus',
 'DivEd',
 'DivBU',
 'DivExcel',
 'LEADJour',
 'Goldshirt',
 'DesignWOBorders',
 'BeFirst',
 'Puksta',
 'FirstGenSchol',
 'Athlete',
 'WhiteAnt',
 'FirstNations',
 'TRiOFed',
 'TRiONonFed',
 'MASP',
 'McNeill',
 'AnyRAP',
 'AnyLEAD',
 'Retained',
 'CurrentBIPOCFmt',
 'EntryBIPOCFmt',
 'FGFmt',
 'EverResHall',
 'MeetsMAPSFLAtEntry',
 'PreColl',
 'PreCollBouldSummer',
 'PreCollWestSlope',
 'PreCollRural',
 'AnyRural']

In [364]:
AnyRAP = DF['Internships']
Rural = DF['AnyRural']
countmain = 0
countRural = 0
for i in range(len(Rural)):
    if Rural[i] == 0:
        countRural +=1
        if AnyRAP[i] == 1:
            countmain += 1
        
print(countmain/countRural)

0.03700417073387168

36% of rural students participate in Residential programs.